body {
  margin: 0;
  /* background-image: url(bg.png); */
  background-color: #feeae6;


}

h1{
  font-family:Ubuntu Regular;

}
h2,h3,h4,h5,h6{
  color: black;
  font-family:Ubuntu light;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  /* background-color: #f1f1f1; */
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family:arial;
  background-color: #fedbd0;
  visibility: hidden;


}

li a {
  display: block;
  color: #ffffff;
  background-color: #442c2e;
  padding: 8px 16px;
  text-decoration: none;
  font-family:Ubuntu Regular;
  margin-right: 15px;
  font-size: 8px;


}

li a.active {
  background-color: #f9aa33;
  color: white;
  margin-left: 10px;
  margin-right: 0px;
  visibility: hidden;
}

li a:hover:not(.active) {
  background-color: #555;
  color: yellow;
  padding: 15px;
  text-align: center;



}

.sidenav {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


</style>
